
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');


.chores {
   
   
   text-shadow: 2px 2px 2px rgb(204, 150, 150);
   color: rgb(206, 41, 77);
}

.chores h3{
    font-family: 'Tangerine', serif;
    text-decoration: underline;
    font-size: 38px;
}

.chores li{
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    font-style: italic;
}