
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');


h1 { 
   font-family: 'Tangerine', serif;
   text-shadow: 2px 2px 2px rgb(204, 150, 150);
   color: rgb(206, 41, 77);
   font-size: 68px;
   display: flex;
   justify-content: center;
}
